db_settings.host=
db_settings.database=
db_settings.username=
db_settings.password=

redis_host=
redis_port=6379

test_account_email=vcherubini@majorapi.com
test_account_password=password
test_application_username=majorapi
test_ipp_oauth_consumer_key=
test_ipp_oauth_consumer_secret=
test_ipp_oauth_token=
test_ipp_oauth_token_secret=
test_ipp_realm_id=

ipp_app_token=
ipp_oauth_consumer_key=
ipp_oauth_consumer_secret=
